//RESETS
body {
  margin: 0;
  overflow-x: hidden;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

.image-container {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffefba
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.progress {
  background: #ffffff;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5px;
  z-index: 1;
  .bar {
    content: "";
    display: block;
    width: 100%;
    transform: scaleX(0%);
    transition: transform ease-in-out 300ms;
    transition-delay: 500ms;
    z-index: 5;
    background: #3cfa7c;
    height: 100%;
  }
}

main {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  section {
    width: 100%;
    min-height: 85vh;
    position: relative;
    transform-origin: top center;
    transform: scaleY(1);
    opacity: 1;
    transition: transform 450ms ease, opacity 800ms ease;
    transition-delay: 300ms;

    &:nth-child(1) {
      background-image: url("../images/hero.jpg");
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: scroll;
      background-size: cover;
      min-height: 75vh;
      padding: 2% 5%;
      color: #ffffff;
      margin-bottom: 50px;
    }

    &:nth-child(2) {
      background: rgb(232, 213, 181);
      min-height: 95vh;

      div > div > div:nth-child(1) {
        height: 300px;
        width: 300px;
      }
    }
    &:nth-child(3) {
      background: #d8bfc9;
      min-height: 75vh;
    }

    &:nth-child(4), &:nth-child(5) {
        background: #d1c4ec;
        padding: 2%;
        min-height: 60vh;
        .form-container > iframe{
            height: 400px;
            width: 450px;
        }
    }
    &:nth-child(5) {
        background: #e1c4ec;
    }
    &:nth-child(6) {
        background: #eccddf;
        padding: 5%;
        .image-container {
            height: 300px;
            width: 300px;
          }
    }
    &[aria-hidden="false"] { 
    }
    &[aria-hidden="true"] {
      transform: scaleY(0);
      opacity: 0;
      margin: 0;
      position: absolute;
      top: 0;

      .section--inner {
        opacity: 0;
      }

      .section--inner.from-up {
        transform: translateY(200%);
        opacity: 0;
      }
      .section--inner.from-down {
        transform: translateY(-150%);
      }
    }
    .section--inner {
      padding: 2%;
      transform: translateY(0);
      opacity: 1;
      transition: transform 600ms ease, opacity 1s ease-out;
      transition-delay: 400ms;
    }
    .next-section--btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(50%);
      opacity: 1;
      transition: opacity 200ms ease, transform 300ms ease;
      background: none;
      padding: 1em;
      border: none;
      font-size: 2em;
      color: #1e1e1e;
      &:hover {
        cursor: pointer;
        color: #3cfa7c;
      }
      &.fade-out {
        opacity: 0;
        transform: translateY(-20%) translateX(-50%);
        transition: opacity 200ms ease, transform 300ms ease;
      }
    }
  }
}

.grid-parent {
    display: grid;
    grid-gap: 5%;

    &.two-col--container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-content: center;
      }
    
      &.three-col--container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-content: center;
      }

}
@media only screen and (min-width: 600px) {
.grid-parent {

  &.two-col--container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
  }

  &.three-col--container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
  }
}

}
.grid-v-center {
  display: grid;
  align-content: center;
}

.text-center {
  text-align: center;
}
